<template>
  <div class="app-container calendar-list-container">
    <el-card>
      <div slot="header">
        <span>My Info</span>
        <el-button style="vertical-align: top; margin-left: 1000px" type="warning">수정</el-button>
        <el-button style="vertical-align: top;" type="danger">탈퇴</el-button>
      </div>
      <div>
        <el-table v-loading="listLoading" :data="meData" lement-loading-text="기다리는중" border fit highlight-current-row style="width: 100%;">
          <el-table-column width="150px" align="center" label="아이디">
            <template slot-scope="scope">
              <span>{{ scope.row.userId }}</span>
            </template>
          </el-table-column>
          <el-table-column width="250px" align="center" label="이름">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column width="230px" label="가입일" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.createdAt }}</span>
            </template>
          </el-table-column>
          <el-table-column width="230px" label="마지막 로그인" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.loginAt }}</span>
            </template>
          </el-table-column>
          <el-table-column width="100px" label="권한" align="center">
            <template slot-scope="scope">
              <el-tag v-if="'ROLE_ADMIN' !== scope.row.role" type="info">일반사용자</el-tag>
              <el-tag v-if="'ROLE_ADMIN' === scope.row.role" type="danger">관리자</el-tag>
            </template>
          </el-table-column>
          <el-table-column width="100px" label="등록일정" align="center">
            <template slot-scope="scope">
              <!--<el-button v-if="scope.row.tasks.length > 0" type="primary" v-text="scope.row.tasks.length" style="width: 80%"></el-button>-->
              <!--<el-button v-if="scope.row.tasks.length === 0" type="warning" v-text="scope.row.tasks.length" style="width: 80%" disabled></el-button>-->
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
  </div>
</template>

<script>
import { getMe } from '@/api/me'

export default {
  name: 'index',
  data() {
    return {
      meData: null,
      listLoading: false
    }
  },
  created() {
    this.findMe()
  },
  methods: {
    findMe() {
      this.listLoading = true
      getMe().then(response => {
        this.meData = new Array(response.data.data)
        this.listLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
