<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-date-picker v-model="search.startDate" type="date" placeholder="시작일" style="vertical-align: top; width: 150px;">
      </el-date-picker>
      ~
      <el-date-picker v-model="search.endDate" type="date" placeholder="종료일" style="vertical-align: top; width: 150px;">
      </el-date-picker>
      <el-select v-model="search.sort" filterable placeholder="정렬" style="vertical-align: top; width: 100px;">
        <el-option v-for="item in sortOptions" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <el-input style="width: 200px;" class="filter-item" placeholder="검색어" v-model="search.keyword"></el-input>
      <el-button class="filter-item" type="primary" icon="el-icon-search" @click="taskSearch">검색</el-button>
      <el-button class="filter-item" type="primary" icon="el-icon-download" @click="saveExcel">저장</el-button>
      <el-button class="filter-item" type="success" icon="el-icon-edit" @click="openDiag(null, null)">등록</el-button>
    </div>

    <el-table v-loading="doingListLoading" :data="doingList" lement-loading-text="기다리는중" border fit highlight-current-row style="width: 100%;"
              :default-sort = "{prop: 'startDate', order: 'descending'}">
      <el-table-column align="center" label="순서" width="65px">
        <template slot-scope="scope">
          <span>{{ scope.row.idx }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="상태" width="100px" :filters="stateFilters" :filter-method="filterState">
        <template slot-scope="scope">
          <span>{{ scope.row.state }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="제목" width="150px">
        <template slot-scope="scope">
          <span>{{ scope.row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="내용" width="350px">
        <template slot-scope="scope">
          <span>{{ scope.row.content }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="시작일" width="150px" prop="startDate" sortable>
        <template slot-scope="scope">
          <span>{{ scope.row.startAt }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="종료일" width="150px" prop="endDate">
        <template slot-scope="scope">
          <span>{{ scope.row.daedlineAt }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="등록일" width="200px" prop="createdAt">
        <template slot-scope="scope">
          <span>{{ scope.row.createdAt }}</span>d
        </template>
      </el-table-column>
    </el-table>

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogPvVisible" width="600px">
      <el-form :rules="rules" ref="dataForm" :model="task" label-position="left" label-width="100px" style="width: 400px; margin-left: 50px;">
        <el-form-item label="제목" prop="title">
          <el-input v-model="task.title" placeholder="제목"></el-input>
        </el-form-item>
        <el-form-item label="내용" prop="content">
          <el-input v-model="task.content" type="textarea" :rows="5" placeholder="내용"></el-input>
        </el-form-item>
        <el-form-item label="우선순위" prop="priority">
          <el-rate v-model="task.priority" :texts="['낮음', '보통', '긴급']" show-text :max="3">
          </el-rate>
        </el-form-item>
        <el-form-item label="시작일" prop="startAt">
          <el-date-picker v-model="task.startAt" type="date" placeholder="시작일" style="vertical-align: top; width: 150px;">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="마감일" prop="deadlineAt">
          <el-date-picker v-model="task.deadlineAt" type="date" placeholder="마감일" style="vertical-align: top; width: 150px;">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" align="center">
        <el-button type="primary" @click="createTask">확인</el-button>
        <el-button @click="dialogPvVisible = false">취소</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'index',
  data() {
    return {
      search: {
        sort: '최신순',
        keyword: undefined,
        startDate: '2018-01-01',
        endDate: '2018-12-31'
      },
      sortOptions: [{
        value: 'created_at,desc',
        label: '최신순'
      }, {
        value: 'created_at,asc',
        label: '과거순'
      }],
      textMap: {
        create: '작업 등록',
        update: '작업 수정'
      },
      task: {
        title: undefined,
        content: undefined,
        startAt: undefined,
        deadlineAt: undefined,
        priority: undefined
      },
      dialogPvVisible: false,
      dialogStatus: 'create',
      doingList: [],
      finishList: [],
      doingListLoading: false,
      finishListLoading: false,
      stateFilters: [{
        text: '진행중',
        value: 'doing'
      }, {
        text: '완료',
        value: 'finished'
      }],
      rules: {
        title: [{ required: true, message: '제목 is required', trigger: 'blur' }],
        startAt: [{ required: true, message: '시작일 is required', trigger: 'blur' }],
        deadlineAt: [{ required: true, message: '마감일 is required', trigger: 'blur' }]
      }
    }
  },
  methods: {
    taskSearch() {

    },
    saveExcel() {

    },
    filterState(value, row) {
      return row.tag === value
    },
    createTask() {

    },
    openDiag(mode, data) {
      this.dialogPvVisible = true
    }
  }
}
</script>

<style scoped>

</style>
