<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-select v-model="search.priority" filterable placeholder="중요도" style="vertical-align: top; width: 100px;">
        <el-option v-for="item in priorityOptions" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <el-date-picker v-model="search.startDate" type="date" placeholder="시작일" style="vertical-align: top; width: 150px;">
      </el-date-picker>
      ~
      <el-date-picker v-model="search.endDate" type="date" placeholder="종료일" style="vertical-align: top; width: 150px;">
      </el-date-picker>
      <el-select v-model="search.sort" filterable placeholder="정렬" style="vertical-align: top; width: 100px;">
        <el-option v-for="item in sortOptions" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <el-input style="width: 200px;" class="filter-item" placeholder="검색어" v-model="search.keyword"></el-input>
      <el-button class="filter-item" type="primary" icon="el-icon-search" @click="taskSearch">검색</el-button>
    </div>

    <el-table v-loading="listLoading" :data="dataList" lement-loading-text="기다리는중" border fit highlight-current-row style="width: 100%;">
      <el-table-column align="center" label="순서" style="width: 5%;">
        <template slot-scope="scope">
          <span>{{ scope.row.idx }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="아이디" style="width: 15%;">
        <template slot-scope="scope">
          <span>{{ scope.row.userId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="제목" style="width: 30%;">
        <template slot-scope="scope">
          <span>{{ scope.row.mail }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="완료여부" style="width: 5%;">
        <template slot-scope="scope">
          <span>{{ scope.row.mail }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="등록일" style="width: 15%;">
        <template slot-scope="scope">
          <span>{{ scope.row.mail }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="시작일" style="width: 15%;">
        <template slot-scope="scope">
          <span>{{ scope.row.mail }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="종료일" style="width: 15%;">
        <template slot-scope="scope">
          <span>{{ scope.row.mail }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getTaskList } from '@/api/task'

export default {
  name: 'task',
  data() {
    return {
      search: {
        keyword: undefined,
        priority: undefined,
        startDate: '2018-01-01',
        endDate: '2018-12-31',
        sort: undefined
      },
      listLoading: false,
      dataList: null,
      priorityOptions: [{
        value: null, label: '전체'
      }, {
        value: 'LOW', label: '낮음'
      }, {
        value: 'MIDDLE', label: '보통'
      }, {
        value: 'HIGH', label: '중요'
      }],
      sortOptions: [{
        value: 'idx,asc', label: '오름차순'
      }, {
        value: 'idx,desc', label: '내림차순'
      }],
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      }
    }
  },
  methods: {
    taskSearch() {
      this.listLoading = true
      getTaskList(this.keyword).then(response => {
        this.list = response.data.data.content
        this.listLoading = false
      })
      console.log('')
    }
  }
}
</script>

<style scoped>

</style>
