<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-select v-model="searchRole" filterable placeholder="권한" style="vertical-align: top; width: 100px;">
        <el-option v-for="item in roleOptions" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <el-select v-model="searchSort" filterable placeholder="정렬" style="vertical-align: top; width: 100px;">
        <el-option v-for="item in sortOptions" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <el-input style="width: 200px;" class="filter-item" placeholder="검색어" v-model="keyword"></el-input>
      <el-button class="filter-item" type="primary" icon="el-icon-search" @click="userSearch">검색</el-button>
    </div>

    <el-table v-loading="listLoading" :data="list" lement-loading-text="기다리는중" border fit highlight-current-row style="width: 100%;">
      <el-table-column align="center" label="순서" width="65px">
        <template slot-scope="scope">
          <span>{{ scope.row.idx }}</span>
        </template>
      </el-table-column>
      <el-table-column width="150px" align="center" label="아이디">
        <template slot-scope="scope">
          <span>{{ scope.row.userId }}</span>
        </template>
      </el-table-column>
      <el-table-column width="250px" align="center" label="이름">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column width="230px" label="가입일" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.createdAt}}</span>
        </template>
      </el-table-column>
      <el-table-column width="230px" label="마지막 로그인" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.loginAt}}</span>
        </template>
      </el-table-column>
      <el-table-column width="100px" label="권한" align="center">
        <template slot-scope="scope">
          <el-tag v-if="'ROLE_ADMIN' !== scope.row.role" type="info">일반사용자</el-tag>
          <el-tag v-if="'ROLE_ADMIN' === scope.row.role" type="danger">관리자</el-tag>
        </template>
      </el-table-column>
      <el-table-column width="100px" label="등록일정" align="center">
        <template slot-scope="scope">
          <!--<el-button v-if="scope.row.tasks.length > 0" type="primary" v-text="scope.row.tasks.length" style="width: 80%"></el-button>-->
          <!--<el-button v-if="scope.row.tasks.length === 0" type="warning" v-text="scope.row.tasks.length" style="width: 80%" disabled></el-button>-->
        </template>
      </el-table-column>
      <el-table-column width="100px" label="조작" align="center">
        <template slot-scope="scope">
          <el-button type="success" style="width: 80%">수정</el-button>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30,50]" :page-size="listQuery.limit"
                     layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogPvVisible" width="600px">
      <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="100px" style="width: 400px; margin-left: 50px;">
        <el-form-item label="키" prop="idx">
          <el-input v-model="temp.idx" placeholder="idx"></el-input>
        </el-form-item>
        <el-form-item label="아이디" prop="userId">
          <el-input v-model="temp.userId" placeholder="ID"></el-input>
        </el-form-item>
        <el-form-item label="비밀번호" prop="password">
          <el-input v-model="temp.password" placeholder="Password"></el-input>
        </el-form-item>
        <el-form-item label="메일" prop="userName">
          <el-input v-model="temp.mail" placeholder="Mail"></el-input>
        </el-form-item>
        <el-form-item label="priority">
          <el-input v-model="temp.priority" placeholder="권한"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" align="center">
        <el-button type="primary" @click="createUser">확인</el-button>
        <el-button @click="dialogFormVisible = false">취소</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getUserList } from '@/api/user'
// import { parseTime } from '@/utils'

export default {
  name: 'user',
  data() {
    return {
      keyword: null,
      total: null,
      listLoading: false,
      searchRole: undefined,
      searchSort: undefined,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      roleOptions: [{
        value: null, label: '전체'
      }, {
        value: 'ROLE_ADMIN', label: '관리자'
      }, {
        value: 'ROLE_USER', label: '일반사용자'
      }],
      sortOptions: [{
        value: 'idx,asc', label: '오름차순'
      }, {
        value: 'idx,desc', label: '내림차순'
      }],
      list: null,
      textMap: {
        update: '수정'
      },
      dialogPvVisible: false,
      dialogStatus: '',
      pvData: [],
      rules: {
        userId: [{ required: true, message: 'UserId is required', trigger: 'blur' }],
        password: [{ required: true, message: 'Password is required', trigger: 'blur' }],
        userName: [{ required: true, message: 'UserName is required', trigger: 'blur' }]
      },
      temp: {
        idx: undefined,
        userId: undefined,
        userName: undefined,
        birth: undefined,
        age: undefined,
        timestamp: new Date(),
        phone: undefined,
        password: undefined
      }
    }
  },
  created() {
    this.userSearch()
  },
  methods: {
    userSearch() {
      this.listLoading = true
      getUserList(this.keyword).then(response => {
        this.list = response.data.data
        console.log(this.list)
        this.listLoading = false
      })
    },
    handleCreate() {
      this.dialogStatus = 'create'
      this.dialogPvVisible = true
    },
    calculateAge() {
      if (this.temp.birth !== undefined && this.temp.birth !== null) {
        const birthYear = this.temp.birth.substr(0, 4)
        this.temp.age = new Date().getFullYear() - birthYear + 1
      } else {
        this.temp.age = undefined
      }
    },
    updateUser() {
      console.log('수정')
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createUser() {
      console.log('확인')
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          console.log('valid ok')
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row)
      this.dialogStatus = 'update'
      this.dialogPvVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    handleSizeChange(val) {
      this.listQuery.limit = val
      this.getList()
    },
    handleCurrentChange() {
      console.log('handleCurrentChange')
    }
    /*,
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    }
    */
  }
}
</script>

<style scoped>

</style>
