<template>
  <div class="login-container">
    <el-form class="login-form" autoComple="on" :model="loginForm" :rules="loginRules" ref="loginForm" label-position="left">
      <div class="title-container imgCenter">
        <img src="../../assets/logo.png" align="center">
        <h3 class="title">Welcome TodoList Page</h3>
      </div>

      <el-form-item prop="username">
        <span class="svg-container svg-container_login">
          <svg-icon icon-class="user" />
        </span>
        <el-input name="username" type="text" v-model="loginForm.username" autoComplete="on" placeholder="username" />
      </el-form-item>

      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input name="password" :type="passwordType" @keyup.enter.native="handleLogin" v-model="loginForm.password" autoComplete="on" placeholder="password" />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
      </el-form-item>
      <el-row>
        <el-button type="success" style="width:48%" :loading="loading" @click.native.prevent="handleLogin">Login</el-button>
        <el-button type="primary" style="width:48%" @click="handleJoin">Join</el-button>
      </el-row>
    </el-form>

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogPvVisible" width="600px">
      <el-form :rules="rules" ref="dataForm" :model="joinForm" label-position="left" label-width="100px" style="width: 400px; margin-left: 50px;">
        <el-form-item label="아이디" prop="userId">
          <el-input v-model="joinForm.userId" placeholder="ID" style="width: 70%;"></el-input>
          <el-button v-if="!passUserIdDuplicated" type="warning" @click="checkIdDuplicated" style="width: 28%;">중복체크</el-button>
          <el-button v-if="passUserIdDuplicated" type="success" style="width: 28%;">사용가능</el-button>
        </el-form-item>
        <el-form-item label="비밀번호" prop="password">
          <el-input v-model="joinForm.password" placeholder="Password" :type="passwordType"></el-input>
        </el-form-item>
        <el-form-item label="비밀번호 확인" prop="passwordRepeat">
          <el-input v-model="joinForm.passwordRepeat" placeholder="Password 확인" :type="passwordType"></el-input>
        </el-form-item>
        <el-form-item label="이름(별명)" prop="name">
          <el-input v-model="joinForm.name" placeholder="이름"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" align="center">
        <el-button type="primary" @click="createUser">가입</el-button>
        <el-button type="danger" @click="cancelJoin">취소</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { Message } from 'element-ui'

export default {
  name: 'login',
  data() {
    return {
      loginForm: {
        username: 'mkhwang',
        password: '1234'
      },
      loginRules: {
        username: '',
        password: ''
      },
      passwordType: 'password',
      loading: false,
      showDialog: false,
      textMap: {
        create: '신규 가입'
      },
      dialogPvVisible: false,
      dialogStatus: 'create',
      passUserIdDuplicated: false,
      rules: {
        userId: [{ required: true, message: 'ID is required', trigger: 'blur' }],
        password: [{ required: true, message: 'Password is required', trigger: 'blur' }],
        passwordRepeat: [{ required: true, message: 'PasswordRepeat is required', trigger: 'blur' }],
        name: [{ required: true, message: '이름(별명) is required', trigger: 'blur' }]
      },
      joinForm: {
        userId: undefined,
        password: undefined,
        passwordRepeat: undefined,
        name: undefined
      }
    }
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          // this.loading = false
          // this.$router.push({ path: '/' })
          /* API call */
          this.$store.dispatch('LoginByUsername', this.loginForm).then(() => {
            this.loading = false
            this.$router.push({ path: '/' })
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleJoin() {
      this.dialogPvVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createUser() {
      if (!this.passUserIdDuplicated) {
        Message({
          message: 'ID 중복체크를 해주세요',
          type: 'error',
          duration: 2000
        })
        return
      }
      if (this.joinForm.passwordRepeat !== this.joinForm.password) {
        Message({
          message: 'Password 확인해주세요',
          type: 'error',
          duration: 2000
        })
        return
      }
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          console.log('valid ok')
          this.join()
        }
      })
    },
    cancelJoin() {
      this.dialogPvVisible = false
      this.joinForm.password = undefined
      this.joinForm.passwordRepeat = undefined
      this.joinForm.userId = undefined
      this.joinForm.mail = undefined
      this.passUserIdDuplicated = false
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    checkIdDuplicated() {
      this.$store.dispatch('CheckUserIdDuplicated', this.joinForm.userId).then(() => {
        this.passUserIdDuplicated = true
        this.loading = false
      }).catch(() => {
        this.passUserIdDuplicated = false
        this.loading = false
      })
    },
    join() {
      this.$store.dispatch('Join', this.joinForm).then(() => {
        console.log('join success')
        this.cancelJoin()
      }).catch(() => {
        console.log('join fail')
      })
    }
  }
}
</script>

<style scoped>
  .title-container.imgCenter{text-align: center;}
  .el-dialog{position: relative;}
</style>

<style rel="stylesheet/scss" lang="scss">
$bg:#2d3a4b;
$light_gray:#eee;

/* reset element-ui css */
.login-container {
  .login-form {
    .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;
      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: $light_gray;
        height: 47px;
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
          -webkit-text-fill-color: #fff !important;
        }
      }
    }
    .el-form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
    }
  }
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 520px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    &_login {
      font-size: 20px;
    }
  }
  .title-container {
    position: relative;
    .title {
      font-size: 26px;
      font-weight: 400;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
    .set-language {
      color: #fff;
      position: absolute;
      top: 5px;
      right: 0px;
    }
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .thirdparty-button {
    position: absolute;
    right: 35px;
    bottom: 28px;
  }
}
</style>
